.launches h2{
    color: white;
    text-align: left;
    padding-left: 7rem;
}

.launches .launches-container{
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    
}
.launches .launches-container img{
    border-radius: 10px;
}


.launches-movies p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 10px 0PX 0PX 0PX;
}

.launches-movies{
    padding: 0px 10px;
}